<div id="tokens" class="c-onepage-token">
  <div class="section o-purchased-tokens d-flex align-items-center">
      <div class="container">
          <span class="sparks spark-1 ripple-out"></span>
          <span class="sparks spark-2 ripple-out"></span>
          <span class="sparks spark-3 ripple-out"></span>
          <span class="sparks spark-4 ripple-out"></span>
          <span class="sparks spark-5 ripple-out"></span>
          <span class="sparks spark-6 ripple-out"></span>
          <span class="sparks spark-7 ripple-out"></span>
          <span class="sparks spark-8 ripple-out"></span>
          <div class="purchase-number text-center wow fadeIn">
              <span>$500 MILLION</span>
              <h2>People from all around the world have purchased our tokens.</h2>
          </div>
          <!-- End of .purchase-number -->
      </div>
      <!-- End of .container -->
  </div>

  <!-- Rounds of Token starts here -->

  <!-- End of Rounds of Token  -->
    <!-- <app-rounds-of-token></app-rounds-of-token> -->
  <!-- End of .purchased-tokens -->

  <!-- Donuts starts here -->
    <app-chart></app-chart>
  <!-- End of Donuts -->

  <div class="section o-currency-converter d-flex align-items-center wow fadeIn">
      <div class="mycontainer">
            <h2 class="section-title">We Accept</h2>
          <div class="o-best-prices">
              <div class="row">
                  <div class="col-lg-2 col-md-6">
                      <div class="o-best-price-box">
                          <img src="../assets/images/token/1.png" alt="token price">
                          <div class="o-price p-up">BTC <br> (Min =0.06)
                          </div>
                      </div>
                      <!-- End of .o-best-price-box -->
                  </div>
                  <!-- End of .col-md-3 -->

                  <div class="col-lg-2 col-md-6">
                      <div class="o-best-price-box">
                          <img src="../assets/images/token/2.png" alt="token price">
                          <div class="o-price p-up">ETH <br> (Min =1.5)
                          </div>
                      </div>
                      <!-- End of .o-best-price-box -->
                  </div>
                  <!-- End of .col-md-3 -->

                  <div class="col-lg-2 col-md-6">
                      <div class="o-best-price-box">
                          <img src="../assets/images/icons/coin.png" alt="token price">
                          <div class="o-price p-down">USD <br> (Min = $100.00)
                          </div>
                      </div>
                      <!-- End of .o-best-price-box -->
                  </div>
                  <!-- End of .col-md-3 -->

                  <div class="col-lg-2 col-md-6">
                      <div class="o-best-price-box">
                          <img src="../assets/images/icons/paypal.png" alt="token price">
                          <div class="o-price p-down">Paypal <br> (Min =$100.00)
                          </div>
                      </div>
                      <!-- End of .o-best-price-box -->
                  </div>
                  <!-- End of .col-md-3 -->
                  <div class="col-lg-2 col-md-6">
                        <div class="o-best-price-box">
                            <img style="height:35px" src="../assets/images/icons/skrill.png" alt="token price">
                            <div class="o-price p-down">Skrill <br> (Min =$100.00)
                            </div>
                        </div>
                        <!-- End of .o-best-price-box -->
                    </div>
                    <!-- End of .col-md-3 -->
              </div>
              <!-- End of .row -->
          </div>
          <!-- End of .best-prices -->
      </div>
      <!-- End of .container -->
  </div>
  <!-- End of div--> 

  <!-- Rounds of Tokens starts here -->
    <app-tokens></app-tokens>
  <!-- End of Rounds of Tokens -->
</div>