<div id="contact" class="section c-onepage-contact">
  <div class="container">
      <div class="o-contact-block wow fadeIn">
          <div class="row align-items-center">
              <div class="col-lg-4">
                  <div class="o-contact-info text-left">
                      <h2>Contact Us</h2>
                      <div class="o-c-info">
                          <a href="mailto:offer@crypto.com">
                              <i class="fa fa-at"> </i> admin@zipcx.io
                          </a>
                      </div>
                      <div class="o-c-info">
                          <a href="tel:+17021234567">
                              <i class="fa fa-fax"> </i> 307.745.3626 
                          </a>
                      </div>
                      <div class="o-c-info">
                          <a href="tel:+17024561230">
                              <i class="fa fa-fax"> </i> 307.745.8669
                          </a>
                      </div>
                      <div class="o-c-info">
                          <i class="fa fa-building"> </i> 501 E. Garfield, Laramie, WY 82070</div>
                      <a href="#" class="btn btn-small">
                          <i class="fa fa-map-marker-alt"> </i> VIEW MAP</a>
                      <div class="o-follow-us">
                          Follow us :
                        <a href="https://www.facebook.com/ZipCoin-Exchange-2205861812988417/" target="_blank" rel="noopener">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/18773379/admin/overview" target="_blank" rel="noopener">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="https://www.reddit.com/user/zipcoinexchange" target="_blank" rel="noopener">
                            <i class="fab fa-reddit"></i>
                        </a>
                        <a href="https://twitter.com//zipcoinexchange" target="_blank" rel="noopener">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="https://www.instagram.com/p/Bmlhj-IDlHj/?utm_source=ig_share_sheet&igshid=1dr241rinh0jo" target="_blank" rel="noopener">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="https://web.telegram.org/@zipcoinexchange" target="_blank" rel="noopener">
                            <i class="fab fa-telegram"></i>
                        </a>
                      </div>
                      <!-- End of .o-follow-us -->
                  </div>
                  <!-- End of .contact-info -->
              </div>
              <!-- End of .col-md-3 -->

              <div class="col-lg-8">
                  <div class="flip-container wow fadeIn">
                      <div class="flipper">
                          <div class="o-form-content front">
                              <form class="o-contact-form">
                                  <h4 class="text-center">Leave Us a Message</h4>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <input type="text" placeholder="First Name" name="fname">
                                      </div>
                                      <div class="col-md-6">
                                          <input type="text" placeholder="Last Name" name="lname">
                                      </div>
                                      <div class="col-md-6">
                                          <input type="text" placeholder="Phone" name="phone">
                                      </div>
                                      <div class="col-md-6">
                                          <input type="email" placeholder="Email" name="email">
                                      </div>
                                      <div class="col-md-12">
                                          <textarea placeholder="Message" name="message"></textarea>
                                      </div>
                                      <div class="col-md-12 text-center">
                                          <button type="submit" class="btn">SUBMIT YOUR MESSAGE</button>
                                      </div>
                                  </div>
                                  <!-- End of .row -->
                              </form>
                              <!-- End of .o-contact-form -->
                          </div>
                          <!-- End of .o-form-content -->

                          <div class="back o-map-container">
                              <div id="map" class="o-map"></div>
                          </div>
                          <!-- o-map-content -->
                      </div>
                      <!-- End of .fliper -->
                  </div>
                  <!-- End of .flip-container -->
              </div>
              <!-- End of .col-md-3 -->
          </div>
          <!-- End of .row -->
      </div>
      <!-- End of .o-contact-block -->
  </div>
  <!-- End fo .container -->
</div>