<div id="about" class="onepage-about-us">
  <div class="section c-onepage-about d-flex align-items-center">
      <div class="mycontainer">
          <div class="o-about-us">
              <div class="row align-items-center">
                  <div class="col-md-6">
                      <div class="o-details-with-title text-left wow fadeIn">
                          <h2>About ZipCoin project</h2>
                          <p>ZipCoin is a community & employee owned, operated ICO and multifunctional
                                digital currency trading exchange platform designed to decrease existing barriers
                                to entry in blockchain technology for all users across the globe.</p>
                            <p>ZipCoin is multicurrency and secured online platform based on blockchain technology.</p>
                            <p>ZipCoin is a unique ICO and digital trading platform that allows customers to
                                        access the exchange from the comfort of their home in fiat currencies or
                                        crypto-currencies at low fees.</p>
                            <p>ZipCoin is a multi-functional platform which allows each customer to keep money
                                    in a multi-currency online wallet, buy and sell currency (digital/fiat) on the
                                    exchange at any time and any place.</p>
                        <div class="banner-txt">
                            <a class="btn" href="#">WHITEPAPER</a>
                            <a class="btn" href="#">BUY TOKENS</a>
                        </div>
                      </div>
                      <!-- End of .o-details-with-title -->
                  </div>
                  <!-- End of .col-md-6 -->

                  <div class="col-md-6">
                      <div class="img-container wow fadeIn">
                          <img src="../../../assets/images/about/video-img.jpg" alt="video image" class="img-fluid img-with-shadow img-round">
                          <a class="play-overlay video-popup" href="https://www.youtube.com/watch?v=RdtHX15sXiU">
                              <span>
                                  <i class="fas fa-play"></i>
                              </span>
                          </a>
                      </div>
                      <!-- End of .o-video-modal -->
                  </div>
                  <!-- End of .col-md-6 -->
              </div>
              <!-- End of .align-items-center -->
          </div>
          <!-- End of .o-about-us -->
      </div>
      <!-- End of .container -->
  </div>