<nav class="c-onepage-navbar navbar navbar-expand-lg">
  <div class="container">
      <!-- <a class="navbar-brand page-scroll" href="#banner">
          
      </a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="toggler-icon-bar bar1"></span>
          <span class="toggler-icon-bar bar2"></span>
          <span class="toggler-icon-bar bar3"></span>
      </button>
      <!-- End of .navbar-toggler -->

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" id="onepage-menu">
              <li class="nav-item">
                  <a class="nav-link" href="#home">Home
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#about">About
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#features">Features
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#benefits">Benefits</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="#steps">Steps
                    </a>
                </li>
              <li class="nav-item">
                  <a class="nav-link" href="#roadmap">Roadmap
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#team">Team
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#tokens">Tokens
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#contact">Contact
                  </a>
              </li>

              <li class="nav-item">
                  <a class="btn secondary-btn" href="#buy_token">BUY TOKENS</a>
              </li>
              <li class="o-langualge">
                  <div class="dropdown text-xs-right ml-auto">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                          <span>En </span>
                          <i class="fa fa-angle-down"></i>
                      </a>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Fr</a>
                          <a class="dropdown-item" href="#">Jr</a>
                          <a class="dropdown-item" href="#">Ban</a>
                          <a class="dropdown-item" href="#">Sp</a>
                      </div>
                      <!-- End of .dropdown-menu -->
                  </div>
                  <!-- End of .dropdown -->
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span>Login </span>
                        <i class="fa fa-sign-in-alt"></i>
                    </a>
             </li>  
          </ul>
      </div>
  </div>
  <!-- End of .container -->
</nav>
