<div class="countdown-box ml-md-auto">
    <h4>ICO ENDS IN</h4>
    <div class="countdown">
        <div id="clock"><div><span>2</span> Days</div><div><span>07</span> Hours</div><div><span>51</span> Minutes</div><div><span>31</span> Seconds</div></div>
        <div class="progress">
            <div class="progress-bar" data-transitiongoal="75" style="width: 75%;" aria-valuenow="75"></div>
        </div>
        <!-- End of .progress -->
        <p>$11,087 pledged of $25,000 goal</p>
        <a href="#" class="btn secondary-btn">PARCHASE TOKENS</a>
    </div>
    <!-- End of .countdown -->
</div>