<div id="home" class="page-wrapper crypto-onepage">

<div id="banner" class="section c-onepage-banner d-flex align-items-center">
<div class="container">
  <div class="row align-items-center">
      <div class="col-md">
          <div class="banner-txt">
              <h1>ZipCoin – ​The true <br> peer-to-peer (P2P)</h1>
              <p>Tranding platform of the future!</p>
              <a class="btn" href="#">WHITEPAPER</a>
              <a class="btn btn-play video-popup" href="https://www.youtube.com/watch?v=K4wEI5zhHB0">
                  <span>
                      <svg class="svg-inline--fa fa-play fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="play" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path></svg><!-- <i class="fas fa-play"></i> -->
                  </span> INTRO VIDEO
              </a>
          </div>
          <!-- End of .banner-txt -->
      </div>
      <!-- End of .col-md -->

    <div class="col-md">
       <app-clock></app-clock>
        <!-- End of .countdown-box -->
        <div class="radial-bg"></div>
    </div>
    <!-- End of .col-md -->
</div>
  <!-- End of .row -->
</div>
</div>
</div>