<div id="features" class="section benifits-of-solution">
    <div class="mycontainer">
        <h2 class="section-title text-center wow fadeIn">Features</h2>
        <div class="benifits-content">
            <nav class="o-common-nav-tab">
                <div class="nav nav-tabs" id="benifits-tab" role="tablist">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#benifits-tab-1" role="tab"  aria-selected="true"> </a>
                    <a class="nav-item nav-link active" data-toggle="tab" href="#benifits-tab-1" role="tab"  aria-selected="true"> </a>
                </div>
                <!-- End of .nav-tabs -->
            </nav>
            <!-- End of .nav -->
  
            <div class="tab-content">
                <div class="tab-pane fade show active" id="benifits-tab-1" role="tabpanel" aria-labelledby="benifits-tab-1">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="o-benifits text-center">
                                <div class="benifit-icon">
                                    <i class="fa fa-link"></i>
                                    <p class="hiddenP">Integer quis eleifend libero. Nulla finibus eget lectus ac iaculis. Vestibulum
                                        venenatis dapibus turpis, vel hendrerit ex convallis at. Morbi dapibus nulla
                                        vel dui feugiat congue. Aliquam erat volutpat. Sed mauris nulla, luctus sit
                                        amet.
                                    </p>
                                </div>
                                <h5>Blockchain Technology</h5>
                                <!-- End of .benifit-icon -->
                            </div>
                            <!-- End of .benifits -->
                        </div>
                        <!-- End of .col-md-6 col-lg-3 -->
  
                        <div class="col-md-6 col-lg-3">
                            <div class="o-benifits text-center">
                                <div class="benifit-icon">
                                    <i class="fa fa-shield-alt"></i>
                                    <p>
                                        a. Secure cold storage (95%) with cold wallet management <br>
                                        Cryptocurrency Security Standard (CCSS). <br> 
                                        b. Third-party security line by line code audit. <br>
                                        c. Insurance of online/hot wallets. <br>
                                        d. Up to 3-Factor Authentication. <br>
                                        e. Multi-Firewall Protection. <br>
                                        f. DDoS prevention. <br>
                                        g. OWASP Top 10 Compliant. <br>
                                        h. Extended Validation SSL Certificate.
                                    </p>
                                </div>
                                <!-- End of .benifit-icon -->
                                <h5>Advanced Security System</h5>
                            </div>
                            <!-- End of .benifits -->
                        </div>
                        <!-- End of .col-md-6 col-lg-3 -->
  
                        <div class="col-md-6 col-lg-3">
                            <div class="o-benifits text-center">
                                <div class="benifit-icon">
                                    <i class="fa fa-exchange-alt"></i>                                    
                                    <p>
                                        o Funds transfer (wire and peer-to-peer) <br>
                                        o Payment processing <br>
                                        o Traditional banking <br>
                                        o Bill payment <br>
                                        o Trade Financing <br>
                                        o Merchant servicing <br>
                                        o Remittances 
                                    </p>
                                </div>
                                <!-- End of .benifit-icon -->
                                <h5>Integrated Financial Services</h5>
                            </div>
                            <!-- End of .benifits -->
                        </div>
                        <!-- End of .col-md-6 col-lg-3 -->

                        <div class="col-md-6 col-lg-3">
                                <div class="o-benifits text-center">
                                    <div class="benifit-icon">
                                        <i class="fa fa-exchange-alt"></i>
                                        <p>
                                            o Integrated Digital Currency Exchange <br>
                                            o Integrated Financial Services <br>
                                            o High scalability and performance driven <br>
                                            o Mobile- IOS and Android compatibility <br>
                                            o Advanced Security System <br>
                                            o Multicurrency Coins <br>
                                            o Safety Fund <br>
                                            o Cooperation with Arbitration and Regulators <br>
                                            o Integrated Digital Currency Exchange <br>
                                            o Integrated Financial Services <br>
                                            o High scalability and performance driven <br>
                                            o Fully Responsive Layout <br>
                                            o Resourceful Pages <br>
                                            o Retina Ready Icons
                                        </p>
                                    </div>
                                    <!-- End of .benifit-icon -->
                                    <h5>Integrated Digital Currency Exchange</h5>
                                </div>
                                <!-- End of .benifits -->
                            </div>
                            <!-- End of .col-md-6 col-lg-3 -->
      
                    </div>
                    <!-- End of .row -->
                </div>
                <!-- End of .tab-pane -->

            </div>
            <!-- End of .tab-content -->
        </div>
        <!-- End of .benifits-content -->
    </div>
    <!-- End of .container -->
  </div>
  <!-- End of .benifits-of-solution -->
  
  
  