<div class="header">
    <h4>Rounds of Token</h4>  
  </div>
        <div class="container" style="border: 1px solid">
    <div class="row">
      <div class="col-3 ">
          <div class="prices">
          <table>
              <thead>
                  <tr>
                      <th>Token Name:</th>
                      <th>ZIP</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Token Type:</td>
                      <td>EOS</td>
                  </tr>
                  <tr>
                      <td>TOTAL SUPPLY:</td>
                      <td>500,000,000</td>
                  </tr>
                  <tr>
                      <td>Price:</td>
                      <td>1 ETH = 2,500.00 ZIP</td>
                  </tr>
              </tbody>
          </table>
      </div>
      </div>
      <div class="col-6 text-center">
        <img  src="http://via.placeholder.com/350x150" alt="">
      </div>
      <div class="col-3">
        <div class="prices">
          <table>
              <thead>
                  <tr>
                      <th>Hard Cap:</th>
                      <th>30,000 ETH/th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Private Rounds Bonus:</td>
                      <td>25%</td>
                  </tr>
                  <tr>
                      <td>Public Rounds Bonus:</td>
                      <td>15%</td>
                  </tr>
                  <tr>
                      <td>Unsold Tokens:</td>
                      <td>All Burned</td>
                  </tr>
              </tbody>
          </table>
      </div></div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-offset-6">
          <div class="tokenDiv">
          <table>
              <thead>
                <tr>
                    <td>Soft Cap:</td>
                    <td>15,000 ETH</td>
                </tr>
                  <tr>
                      <th>Total Circulation:</th>
                      <th>500,000,000</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>CURRENCIES ACCEPTED:</td>
                      <td>BTC, ETH, USD</td>
                  </tr>
              </tbody>
          </table>
      </div>
      </div>
    </div>
  </div>