<div id="steps" class="section c-onepage-team  wow fadeIn">
    <div section-scroll='3' class="wd_scroll_wrap">
        <section class="steps-area section">
          <div id="steps-js">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12">
                          <div class="steps-heading">
                              <h2 class="wow  fadeIn animated text-center" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">Few steps of buying and selling digital currency</h2>
                              <div class="right-con text-center">
                                  <a data-scroll clas="nav-link" data-options='{ "speed": 100 }' href="#first-step"><i class="fa fa-angle-down"></i></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
    </section>
</div>
</div> 

<section id="steps_" class="steps-details bg-mg">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-md-offset-1 col-lg-offset-1">
                    <div class="steps-cont" id="first-step"  >
                        <ul>
                            <li class="l-con one">
                                <div class="a" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1.0s; animation-name: fadeIn;">
                                    <h2>
                                    <span class="first"> <i class="fa fa-user-plus"> </i> </span>
                                     01. CREATE ACCOUNT on ZIP Platform</h2>
                                    <div>
                                            <p id="myDiv">
                                                User creates an account with Zip. Verification can take up to 24 hours.
                                                <br>
                                                <b>OR</b>
                                                <br>User creates a trading account, or logging into an <br> existing account with one of ZIP’S exchange partners (minutes). 
                                            </p>
                                    </div>
                                </div>
                            </li>
                            <li class="r-con one">
                                <div class="a" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;">
                                    <h2>
                                        <span class="second"> <i class="fa fa-credit-card"> </i> </span>
                                        02. FUND ACCOUNT</h2>
                                    <p><b>Users account is approved allowing the user to buy digital currency by: </b> <br>
                                            • Linking an existing banking account then wiring funds to their trading account (2-4 days) Min fees 
                                       <br>
                                        OR 
                                       <br>
                                            • Depositing cash to the ATM/Debit Card provided by ZIP to deposit cash/check/money order to their ZIP account allowing the user to trade (1 day)</p>
                                </div>
                            </li>
                            <li class="l-con two">
                                <div class="a" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeIn;">
                                    <h2><span class="third"> <i class="fa fa-cart-plus "> </i></span> 
                                         03. RATE | BUY | SELL DIGITAL CURRENCY
                                    </h2>
                                    <p >Through ZIP's platform, the user is able
                                        to trade - buy | sell digital currency</p>
                                </div>
                                <div class="mid-icons"></div>
                            </li>
                            <li class="r-con two">
                                    <div class="a" data-wow-duration="1.9s" style="visibility: visible; animation-duration:1.9s; animation-name: fadeIn;">
                                        <h2>
                                            <span class="fourth"> <i class="fa fa-sign-out-alt"> </i></span>
                                             04. WITHDRAWAL
                                        </h2>
                                        <p>Through ZIPs platform, the user is able to withdraw: <br>
                                                • Via ATM <br>
                                                • Wire fiat funds to your account <br>
                                                • Wire fiat funds to another account <br>
                                                • Transfer funds to another ZIP user <br>
                                                • Pay bills directly  
                                        </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>