    <!-- Background starts here
    ============================================ -->
    <app-background></app-background>
    <!-- End of Background -->

    <!-- navbar starts here
    ============================================ -->
    <app-navbar></app-navbar>
    <!-- End of Navbar -->
    
    <!-- Header starts here
        ============================================ -->
    <app-header></app-header>
    <!-- End of Header-->

    <!-- About starts here
    ============================================ -->
    <app-about></app-about>
    <!-- End of About -->

    <!-- Featires starts here
    ============================================ -->
    <app-features></app-features>
    <!-- End of features -->

    <!-- Benefits starts here
    ============================================ -->
    <app-benefits></app-benefits>
    <!-- End of Benefits -->

    <!-- Steps starts here
    ============================================ -->
    <app-steps></app-steps>
    <!-- End of steps -->

    <!-- Roadmap starts here
    ============================================ -->
    <app-roadmap></app-roadmap>
    <!-- End of roadmap -->

    <!-- Team starts here
    ============================================ -->
    <app-team></app-team>
    <!-- End of Team -->

    <!-- Token start here
    ============================================ -->
    <app-token></app-token>
    <!-- End of Token -->

    <!--  Contact us start here
    ============================================ -->
    <app-contact></app-contact>
    <!-- End of Contact us -->

    <!-- Footer start here 
    ============================================ -->      
    <app-footer></app-footer>
    <!-- End of .c-onepage-footer -->

    <!-- End of Footer -->

    <!-- Terms and Conditions starts here -->
        <app-terms-conditions></app-terms-conditions>
    <!-- End of Terms and Conditions -->


    <!-- Privacy starts here -->
        <app-privacy></app-privacy>
    <!-- End of Privacy -->

    <!-- Terms-of-use starts here -->
        <app-terms-of-use></app-terms-of-use>
    <!-- End of Terms-of-use -->
