<div class="section o-token-distribution d-flex align-items-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="o-distribution text-left wow fadeIn">
                    <h2>Token Distribution</h2>
      
                    <div class="progressbar-block row">
                        <div class="col-md-6">
                            <span class="progress-label">Air Drop: 1% (5.000.000)</span>
                            <div class="progress bar-1">
                                <div class="progress-bar" data-transitiongoal="1"></div>
                            </div>
                            <!-- End of .progress -->

                            <span class="progress-label">Incentives & Promotions: 2% (10.000.000)</span>
                            <div class="progress bar-2">
                                <div class="progress-bar" data-transitiongoal="2"></div>
                            </div>
                            <!-- End of .progress -->

                            <span class="progress-label">Development Teams: 3% (15.000.000)</span>
                            <div class="progress bar-3">
                                <div class="progress-bar" data-transitiongoal="3"></div>
                            </div>
                            <!-- End of .progress -->

                            <span class="progress-label">ICO: 40% (200.000.000)</span>
                            <div class="progress bar-4">
                                <div class="progress-bar" data-transitiongoal="40"></div>
                            </div>
                            <!-- End of .progress -->
                        </div>
                        <!-- End of .col-md-6 -->

                        <div class="col-md-6">
                            <span class="progress-label">Founders & Leaders: 5% (25.000.000)</span>
                            <div class="progress bar-5">
                                <div class="progress-bar" data-transitiongoal="5"></div>
                            </div>
                            <!-- End of .progress -->

                            <span class="progress-label">Seed Investors: 5% (25.000.000)</span>
                            <div class="progress bar-6">
                                <div class="progress-bar" data-transitiongoal="5"></div>
                            </div>
                            <!-- End of .progress -->

                            <span class="progress-label">Private Round: 5% (25.000.000)</span>
                            <div class="progress bar-7">
                                <div class="progress-bar seven" data-transitiongoal="5"></div>
                            </div>
                            <!-- End of .progress -->

                            <span class="progress-label">Pre - Sale: 40% (200.000.000)</span>
                            <div class="progress bar-8">
                                <div class="progress-bar" data-transitiongoal="40"></div>
                            </div>
                            <!-- End of .progress -->
                        </div>
                        <!-- End of .col-md-6 -->
                    </div>
                    <!-- End of .progressbar-block -->
                </div>
                <!-- End of .o-distribution -->
            </div>
            <!-- End of .col-md-5 -->

            <div class="col-lg-5">
                <div id="chartdiv" class="token-distribution-chart wow fadeIn"></div>
            </div>
            <!-- End of.col-md-7 -->
        </div>
        <!-- End of .row -->
    </div>
    <!-- End of .container -->
</div>