<img class="banner-poly-bg banner-poly-bg-1" src="../../../assets/images/banner/banner-polygon-1.png" alt="banner polygon">
<img class="banner-poly-bg banner-poly-bg-2" src="../../../assets/images/banner/banner-polygon-2.png" alt="banner polygon">
<div class="banner-poly-container banner-poly-bg banner-poly-bg-3">
  <img class="" src="../../../assets/images/banner/banner-polygon-3.png" alt="banner polygon">
  <span class="sparks spark-1 ripple-out"></span>
  <span class="sparks spark-2 ripple-out"></span>
  <span class="sparks spark-3 ripple-out"></span>
  <span class="sparks spark-4 ripple-out"></span>
  <span class="sparks spark-5 ripple-out"></span>
</div>

<!-- Body-overlay -->
<div class="body-overlay"></div>