<div id="roadmap" class="section c-onepage-roadmap  wow fadeIn">
    <div class="container">
        <h2 class="section-title text-center">Roadmap</h2>
  
        <div class="o-roadmap">
            <!-- <div class="pivot-line"></div> -->
            <div class="row">
                <div class="col-12 text-center">
                    <div class="roadmap-box">
                        <div class="o-common-card">
                            <h5 class="text-center">
                                <span>2018</span>Q3</h5>
                            <img src="../../../assets/images/roadmap/1.jpg" alt="roadmap image">
                            <a href="#" class="move-down">
                                <i class="fas fa-caret-down"></i>
                            </a>
  
                            <div class="collapse-txt">
                                <p>
                                     Project Initiation and Engagement
                                    <br>
                                     Company Formation
                                </p>
                            </div>
                            <!-- End of .collapse-txt -->
                        </div>
                        <!-- End of .o-common-card -->
                    </div>
                    <!-- End of .roadmap-box -->
                </div>
                <!-- End of .col-md-6 -->
  
                <div class="col-12 text-center">
                    <div class="roadmap-box roadmap-right active">
                        <div class="o-common-card">
                            <h5 class="text-center">
                                <span>2018</span>Q4</h5>
                            <img src="../../../assets/images/roadmap/2.jpg" alt="roadmap image">
                            <a href="#" class="move-down">
                                <i class="fas fa-caret-down"></i>
                            </a>
  
                            <div class="collapse-txt">
                                <p>
                                     Platform development
                                    <br>
                                    Token Sale- Presale and ICO
                                </p>
                            </div>
                            <!-- End of .collapse-txt -->
                        </div>
                        <!-- End of .o-common-card -->
                    </div>
                    <!-- End of .roadmap-box -->
                </div>
                <!-- End of .col-md-6 -->
  
                <div class="col-12 text-center">
                    <div class="roadmap-box">
                        <div class="o-common-card">
                            <h5 class="text-center">
                                <span>2019</span>Q1 - Q2</h5>
                            <img src="../../../assets/images/roadmap/3.jpg" alt="roadmap image">
                            <a href="#" class="move-down">
                                <i class="fas fa-caret-down"></i>
                            </a>
  
                            <div class="collapse-txt">
                                <p>
                                    Project Live
                                    <br>
                                    Zip Remittance Platform Integration
                                </p>
                            </div>
                            <!-- End of .collapse-txt -->
                        </div>
                        <!-- End of .o-common-card -->
                    </div>
                    <!-- End of .roadmap-box -->
                </div>
                <!-- End of .col-md-6 -->
  
                <div class="col-12 text-center">
                    <div class="roadmap-box roadmap-right">
                        <div class="o-common-card">
                            <h5 class="text-center">
                                <span>2019</span>Q3 - Q4</h5>
                            <img src="../../../assets/images/roadmap/4.jpg" alt="roadmap image">
                            <a href="#" class="move-down">
                                <i class="fas fa-caret-down"></i>
                            </a>
  
                            <div class="collapse-txt">
                                <p>
                                    Project Add-ons- Fintech Integration
                                    <br>
                                    Trading Software Commercialization
                                </p>
                            </div>
                            <!-- End of .collapse-txt -->
                        </div>
                        <!-- End of .o-common-card -->
                    </div>
                    <!-- End of .roadmap-box -->
                </div>
                <!-- End of .col-md-6 -->
                <div class="col-12 text-center">
                        <div class="roadmap-box roadmap-left">
                            <div class="o-common-card">
                                <h5 class="text-center">
                                    <span>2020</span>Q1 - Q2</h5>
                                <img src="../../../assets/images/roadmap/4.jpg" alt="roadmap image">
                                <a href="#" class="move-down">
                                    <i class="fas fa-caret-down"></i>
                                </a>
      
                                <div class="collapse-txt">
                                    <p>
                                        Development of ZipCoin Blockchain
                                        <br>
                                        Platform Add ons
                                    </p>
                                </div>
                                <!-- End of .collapse-txt -->
                            </div>
                            <!-- End of .o-common-card -->
                        </div>
                        <!-- End of .roadmap-box -->
                    </div>
                    <!-- End of .col-md-6 -->
                    <div class="col-12 text-center">
                            <div class="roadmap-box roadmap-right">
                                <div class="o-common-card">
                                    <h5 class="text-center">
                                        <span>2020</span>Q2</h5>
                                    <img src="../../../assets/images/roadmap/4.jpg" alt="roadmap image">
                                    <a href="#" class="move-down">
                                        <i class="fas fa-caret-down"></i>
                                    </a>
          
                                    <div class="collapse-txt">
                                        <p>
                                            ZipCoin exchange on ZipCoin Blockchain
                                            <br>
                                            Platform re-design
                                        </p>
                                    </div>
                                    <!-- End of .collapse-txt -->
                                </div>
                                <!-- End of .o-common-card -->
                            </div>
                            <!-- End of .roadmap-box -->
                        </div>
                        <!-- End of .col-md-6 -->
            </div>
            <!-- End of .row -->
        </div>
        <!-- End of .o-roadmap -->
    </div>
    <!-- End f.container -->
  </div>
  