<div id="benefits" class="section c-onepage-product wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="section-heading">
                <h2 class="wow  fadeIn  animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">Benefits</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="project-list wow  fadeIn  animated" data-wow-duration="1.0s" style="visibility: visible; animation-duration: 1s; animation-name: fadeIn;">
                <div class="content">
                    <span class="icons"><img src="../../../assets/images/icons/6.png" alt=""></span>
                    <h4>A secure, and simple  user friendly interface</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="project-list wow  fadeIn  animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;">
                <div class="content">
                    <span class="icons"><img src="../../../assets/images/icons/7.png" alt=""></span>
                    <h4>An innovative, robust  and inclusive crypto
                        exchange</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="project-list wow  fadeIn  animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeIn;">
                <div class="content">
                    <span class="icons"><img src="../../../assets/images/icons/8.png" alt=""></span>
                    <h4>Knowledgeable and responsive  customer
                        support</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="project-list wow  fadeIn  animated" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeIn;">
                <div class="content">
                    <span class="icons"><img src="../../../assets/images/icons/9.png" alt=""></span>
                    <h4>Considerably low  trading commissions</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="project-list wow  fadeIn  animated" data-wow-duration="2.1s" style="visibility: visible; animation-duration: 2.1s; animation-name: fadeIn;">
                <div class="content">
                    <span class="icons"><img src="../../../assets/images/icons/10.png" alt=""></span>
                    <h4 class="lasth4">No ceiling to the amount of money you can
                        deposit or withdraw</h4>
                </div>
            </div>
        </div>
    </div>
</div>