<section class="tokens-area section">
    <div id="token-js">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-9 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right wow  fadeIn animated" data-wow-duration="1.3s" style="visibility: visible; animation-duration: 1.3s; animation-name: fadeIn;">
                        <div class="tokens mr-l50">
                            <div class="token-name">Pre-sale</div>
                            <div class="token-body">
                                <h3>Target – to Raise <br> USD 200,000, 000</h3>
                                <button class="btn right-btn">Price 1 BIT – $0.25</button>
                                <br>
                                <div class="prices">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Price 1 Zip:</th>
                                                    <th>$0.15</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Min Required ETH:</td>
                                                    <td>15</td>
                                                </tr>
                                                <tr>
                                                    <td>Min Required BTC:</td>
                                                    <td>8</td>
                                                </tr>
                                                <tr>
                                                    <td>Min Required USD:</td>
                                                    <td>20k</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                <span class="easypiechart skill-circle">
                         <span class="percent head-font">20</span>
                                <br>
                                <span class="con">Special Bonus</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <app-clock></app-clock>
                 

                    <!-- <div id="buy_token" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right wow  fadeIn animated" data-wow-duration="1.6s" style="visibility: visible; animation-duration: 1.6s; animation-name: fadeIn;">
                            <div class="tokens mr-l50">
                                <div class="token-name">Pre-sale</div>
                                <div class="token-body" style="padding-top: 160px;">
                                    <p>70M - Total Cap</p>
                                    <div class="prices">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Time</th>
                                                    <th>bonus</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>45day</td>
                                                    <td>15%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button class="btn right-btn">Price 1 ZIP = $0.25</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <p class="token-con wow fadeIn animated text-left" data-wow-duration="1.9s" style="visibility: visible; animation-duration: 1.9s; animation-name: fadeIn;"><span>Note​ </span>- at the end of the ICO token sale all remaining tokens will be burned. <br> <span>Zip​Coin </span> 
                            Apply these rules to all the phases and bonus is based on purchase 
                            amount in USD. </p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>