
/* .btn {
	position: relative;
	height: 5.2rem;
	display: inline-flex;
	color: #fff;
	font-weight: 600;
	text-align: center;
	background-image: linear-gradient(to right, #2e64fe, #4184fc);
	background-repeat: repeat-x;
	border: none;
	padding: 0 3rem;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	outline: none;
	transition: all .5s;
	overflow: hidden;
	z-index: 1;
	-webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.btn::after {
	content: " ";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	display: block;
	opacity: 0;
	background-image: linear-gradient(to right, #933eff, #8f5eff);
	background-repeat: repeat-x;
	transition: all .5s;
}

.btn:hover {
	color: #fff;
}

.btn:hover::after {
	opacity: 1;
}

.btn:focus {
	outline: none;
	box-shadow: none;
}

.btn.left-btn {
	margin-bottom: 20px;
	border: 1px solid gray;	
}

.container {
	margin: 0 auto;
}

.btn.right-btn {
	/* margin-top:50px; */
	/* margin-bottom: 25px;

}

.tokens-area .token-con {
	color: #fff;
	margin: 50px 0 0 60px;
	font-size: 20px;
} */ 

/*
@media only screen and (min-width: 993) {
	 @media only screen and (max-width: 1200) {
		.l{
			margin-left: 57px;
    	margin-top: 20px;
		}	
	} 
} */
/* @media only screen and (min-width: 645px) {
	.fadeIn {
		margin-left: 55px;
		margin-top: 20px;
	}
} */