<div class="modal fade o-use-modal c-onepage-modal" id="use-modal" tabindex="-1" role="dialog" aria-labelledby="privacy-modal"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-body text-left">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fa fa-times"></i>
            </button>

            <h2 class="modal-heading">TERMS OF USE- ZIPCOIN</h2>
                <h6>
                By accessing or using the ZIPCOIN TOKEN website and API located at XXXXXX, and any
                linked or directed subdomain (such as https://zipcx.io) (the “Site”) and any services made
                available through the Site, you (the “User” and collectively with others using the Site -
                “Users”) agree to be bound by these Terms of Use (“Terms”). This Site is owned and
                controlled by ZIPCOIN LLC, a Wyoming, USA company located at 501 E Garfield St,
                Laramie, WY 82070, USA (“ZIPCOIN”), and the terms “we,” “us,” and “our” refer to ZipCoin.
                Please read these Terms carefully. These Terms govern your access to and use of the Site
                and Services (as defined herein). By using the Services or visiting the Site, you signify your
                consent to both these Terms and our Privacy Policy, a current version of which is available
                at https://www.zipcx.io/privacy-policy, which is incorporated herein by reference and which
                may be modified from time to time at our sole discretion and without prior notice. Changes
                may be made to these Terms from time to time. These changes will apply at that instant to
                all then current and subsequent uses of the Site. You waive any right you may have to
                receive specific notice of such changes or modifications. Your continued use of this Site
                acts as acceptance of such changes or modifications. If you do not agree to the Terms in
                effect when you access or use the Site, you must stop using the Site.
                </h6>
                <h3>IF YOU DO NOT AGREE TO ANY OF THESE TERMS, PLEASE DO NOT USE THE SITE
                OR SERVICES.</h3>
                <h4>1. ELIGIBILITY</h4>
                <p>
                    By accessing or using the Site, you represent and warrant that you will not use the Site if
                    the laws applicable to you of due to your country of residency and/or citizenship prohibit you
                    from doing so in accordance with these Terms.
                </p>
                <h4>2. SERVICES</h4>
                <ol class="abc">
                    <li>
                    Our Site offers an online platform that allows you to gain access and interact with the
                    EOS blockchain and presents the options of autonomous conversion mechanisms of
                    different Smart Tokens or EOS standard tokens that are held by Token Relays (collectively,
                    “Tokens”). Through the Site, you can (the following shall be referred to as the “Services”):
                    <ol class="num">
                        <li>
                        
                        View information relating different Tokens;
                        </li>
                        <li>
                        View the information from standard EOS electronic wallets (“Electronic Wallet” or
                        “Wallet”), simply by providing a Wallet’s address;
                        </li>
                        <li>
                        Build transactions yourself (with the assistance of the Site’s interface), which you may
                        then send to the blockchain.
                        </li>
                        <li>
                        Interact and communicate with other Users on the Site, participate in discussions and
                        receive information from the Site’s community;
                        </li>
                        <li>
                        Manage your Wallet (associated with the Account), enabling you to send or receive
                        Tokens, convert between Tokens, view historical data, and easily transact on the
                        blockchain;
                        </li>
                        <li>
                        Receive notifications regarding activities in your Wallet; The Services detailed in
                        sub-sections i, ii and iii are available to all Users on the Site (without requiring an
                        Account), while those detailed in sub-sections iv, v and vi are available by creating
                        your own account on the Site (the “Account”). To create your Account, you must
                        assign a display name Account (“Display Name”) and associate the Account to your
                        designated Wallet.
                        </li>
                    </ol>
                </li>
                <li>
                Your Display Name: The Display Name can be any name of your choosing and will be
                displayed openly on the Site to all other Users. When choosing your Display Name,
                consider it will mainly used to enable you to interact with other users on the Site. You may
                change your Display Name at any time.
                </li>
                <li>
                Your Electronic Wallet: When using the Site or when creating an Account, you can
                choose to use a Wallet provided by external service providers, or the ZIPCOIN wallet
                provided on the Site. With your Wallet, you can store and engage in transactions using
                ZipCoin, Ethereum and Bitcoin cryptocurrency, either within the ZIPCOIN exchange or with
                other platforms. Your Wallet is under your responsibility. While your Account enables you to
                access your Wallet with ease – ZipCoin has no access to your Wallet nor any control over
                its use, and accordingly ZipCoin and/or ZipCoin Parties have no liability whatsoever
                regarding the use of your Wallet.
                </li>
                <li>
                Your Wallet Security: The access to your Wallet (and any cryptocurrency held in it) is
                available only with the access information and codes issued to you when establishing the
                Wallet (which commonly consist of a twelve (12) word mnemonic phrase, account keystore
                json file and/or private key) (“Wallet Access Information”).
                When creating an Account, your Wallet’s encrypted password file is encrypted once more
                before is stored in a protected file, accessible only by your password. We do not see, track,
                save or have access to your password which can unlock the password protected file. When
                choosing a password for your Wallet, remember that your Wallet may be subject to hacking
                attempts, which their success depends on the strength of the code you created. You can
                always access your Wallet using your Wallet Access Information, even if at any time your
                access to the Site and Services shall be disabled for any reason whatsoever. For the
                protection of your interests, it is imperative you keep safe and guard the Wallet Access
                Information issued to you. You acknowledge and accept that you are solely responsible for
                the security of your Wallet and for any use of your Account. ZipCoin and/or ZipCoin
                Parties will not be liable or accountable, nor shall be deemed to have any liability or
                accountability, for any loss or damage regarding your failure to keep your Account or Wallet
                information secret and protected.
                Furthermore, ZipCoin has no control over your actions or transactions made using the
                Services. With that in mind, ZipCoin and/or ZipCoin Parties will have no liability to you or to
                any third party for any claims or damages that may arise as a result of any actions or
                transactions that you engage in while using the Service. ZipCoin and/or ZipCoin Parties
                shall not be liable for the acts or omissions of any third parties, nor will they be liable for any
                damage that you may suffer as a result of interacting with any third parties. We reserve the
                right to cancel or refuse to process any digital currency transaction due to requirements of
                any applicable laws or regulations, and without prior notice. We cannot guarantee that the
                Services will always function without disruptions, delay or errors. A number of factors may
                impact the quality of your communications and use of the Services, and may result in the
                failure of your communications including, without limitation, your local network, firewall, your
                internet service provider, the public internet and your power supply. ZipCoin and/or ZipCoin
                Parties (as defined below) take no responsibility for any disruption, interruption or delay
                caused by any failure of or inadequacy in any of these items or any other items over which
                we have no control.
                </li>
            </ol>
            <h4>3. Fees and Payments</h4>
            <p>
                The use of the Site and Services is not subject to or conditioned upon any payment or fee to
                ZipCoin. You confirm that you are aware and agree to the following:
            </p>
            <ol class="abc">
                <li>All transactions on the EOS blockchain.</li>
                <li>
                    Tokens might include certain terms affecting conversion rates. Such terms are
                    determined and affixed by the issuer of the Token at its own and exclusive discretion.
                </li>
                <li>
                    When using the Services, you are able to construct and determine, at your own
                    discretion, the parameters you wish to apply to your conversion of Tokens. The actions you
                    wish to execute will be subject to those parameters you applied. Such terms, as may be
                    applicable in each case individually, will be reflected and expressed in the conversion ratio
                    and other applicable formulas, affecting the final outcome of your actions.
                    <br>
                    By using the Services, you confirm and accept that you are capable to assess and
                    determine the outcomes of your actions using the Services, and that you are exclusively
                    responsible and liable for your actions and their results. ZipCoin and/or ZipCoin Parties are
                    not responsible for any taxes, levies, charges and/or expenses of any kind you may incur,
                    resulting from your use of the Services and/or in connection therewith, whether such may
                    be incurred pursuant to any applicable laws, rules or regulations, by any third party service
                    provider(s), or otherwise. Any and all such taxes, levies, charges and/or expenses of any
                    kind shall be borne solely by you. You agree that you shall have no claim, suit or demand of
                    any kind, and by agreeing to these Terms, hereby irrevocably and completely waive any
                    such claim, suit or demand of any kind, to the extent such may exist or hereafter arise,
                    towards us and any of our directors, managers, employees or consultants, in connection
                    with or related to any of the foregoing.
                </li>
            </ol>
            <h4>4. RULES OF USE</h4>
            <p>
                You represent and warrant that you have full right and authority to use the Services and to
                be bound by these Terms. You agree that you will comply fully with these Terms and all
                applicable domestic and international laws, regulations, statutes, ordinances that govern
                your use of the Services. Without limiting the foregoing and in recognition of the global
                nature of the Internet, you agree to comply with all local and international rules regarding
                online conduct. You also agree to comply with all applicable laws affecting the transmission
                of content or the privacy of persons. When using the Site or Services, you may not, nor may
                you assist other parties to pursuit or engage in unlawful or abusive uses, or any types of
                activities which contradict the purpose of the Site or Services, hinder the Site’s operation or
                Services to other users, or which may be deemed to do so (“Restricted Uses”). For Clarity
                and reference, Restricted Uses include, but are not limited to, these types of activities as
                detailed herein, as we may amend from time to time in our sole discretion (thus, not to be
                regarded as an exhaustive list): a. Unlawful Activities, such as activities which:
            </p>

                <ul class="num">
                    <li>
                        violate any applicable law, rule or regulation; or
                    </li>
                    <li>
                        publish, distribute or disseminate any unlawful material or information; b.
                        Undermining or Abusive Activities, such as activities which:
                    </li>
                    <li>
                        take any action that imposes an unreasonable or disproportionately large load on
                        our infrastructure, or detrimentally interfere with, intercept, or expropriate any
                        system, data, or information;
                    </li>
                    <li>
                        institute, assist or become involved in any type of attack (deliberate or other),
                        including distribution of a virus, attacks upon the Services, the ZipCoin
                        ProtocolTM or the ZipCoin NetworkTM, that prevent access to or use of any of the
                        above, other attempts to disrupt any of the above, gain unauthorized access to
                        any of the above, or disrupt any other person’s use or enjoyment of any of the
                        above;
                    </li>
                    <li>
                        enter or make an attempt to enter the Site and Services (including by accessing
                        linked platforms, networks or systems) unauthorized, including by password
                        mining and/or by using other users information;
                    </li>
                    <li>
                        design or assist in designing cheats, exploits, automation software, bots, hacks,
                        modes or any other unauthorized third-party software to modify or interfere with
                        the Site or Services;
                    </li>
                    <li>
                        attempt to disable or circumvent any security or access control mechanism of the
                        Site or Services;
                    </li>
                    <li>
                        use any unauthorized third-party software that accesses, intercepts, 'mines', or
                        otherwise collects information from or through the Services or the Site, or that is
                        in transit from or to the Site;
                    </li>
                    <li>
                        bypass any robot exclusion headers or other measures ZipCoin uses to restrict
                        access to the Services or use any software, technology, or device to send
                        content or messages, scrape, spider, or crawl the Service, or harvest or
                        manipulate data;
                    </li>
                    <li>
                        solicit another person’s password or other personal information under false
                        pretenses;
                    </li>
                    <li>
                        copy, modify, or create derivative works of the Services or the Site; c. Activities
                        Abusive to Other Users or Their Rights, such as activities which:
                        <ol class="abc">
                            <li>
                                Interfere with other Users ability to exploit or access the Site or any of the
                                Services;
                            </li>
                            <li>
                                attempt to, or harass, abuse, or harm of another person or entity, including
                                ZipCoin employees and service providers;
                            </li>
                            <li>
                                collect, harvest or post anyone’s private information, in any media format;
                            </li>
                            <li>
                                impersonate another user or otherwise misrepresent yourself;
                            </li>
                            <li>
                                violate the legal rights of others, including defaming, abuse, stalking or
                                threatening users;
                            </li>
                            <li>
                                defraud any other Users or any other person, including ZipCoin employees
                                and service providers, including by providing false, inaccurate, misleading, or
                                partial information.
                            </li>
                            <li>
                                Activities Infringing Intellectual Property, such as activities which:
                                <ol class="num">
                                    <li>
                                        (i) reverse engineer, decompile, disassemble, decipher or otherwise
                                        attempt to derive the source code for any underlying software or other
                                        intellectual property used to provide the Services, or to obtain any
                                        information from the Services using any method unless you have
                                        received ZipCoin’s prior written approval;
                                    </li>
                                    <li>
                                        (ii) infringe the intellectual property rights, privacy rights, or moral
                                        rights of any third party or ZipCoin;
                                    </li>
                                </ol>
                            </li>
                            <li>
                                Unfair or Abusive Transacting, such as activities which:
                                <ol class="num">
                                    <li>
                                        create or enter a fictitious transaction or a transaction with fictitious
                                        elements of any kind;
                                    </li>
                                    <li>
                                        exploit, disrupt or manipulate, or attempt to exploit, disrupt or
                                        manipulate the Site or the use of the Services, in a manner designed
                                        to create transaction conditions which are not available to other Users;
                                    </li>
                                    <li>
                                        utilizes or applies technological abilities or foreknowledge not exploited
                                        or available to other Users, to perform (including off Site) transactions
                                        parallel to those performed by Users on the Site, and/or create
                                        unequal terms among Users regarding the use of Services on the Site,
                                        or influence the terms of transactions on the blockchain (including
                                        activities commonly referred to as Front-Running) and/or create an
                                        unfair or abusive advantage over other Users; Violation of any of these
                                        Restricted Uses may be cause for the taking of legal actions on the
                                        part of ZipCoin according to the law, in addition to any right and
                                        remedies set forth hereunder or under any applicable law. Without
                                        derogating from the above, by accepting these Terms, you
                                        acknowledge that ZipCoin makes no representation or warranty
                                        regarding its ability, nor assumes any liability, to detect, limit or prevent
                                        any Restricted Use.
                                    </li>   
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ul>
            <h4>5. Limitation or Termination of Access and Services</h4>
            <p>
                WE MAY, IN OUR SOLE DISCRETION, REFUSE TO OFFER THE SERVICES TO ANY
                PERSON OR ENTITY. WE MAY, WITHOUT NOTICE AND IN OUR SOLE DISCRETION,
                TERMINATE YOUR RIGHT TO USE THE SERVICES OR ANY PORTION THEREOF, AND
                BLOCK OR PREVENT YOUR FUTURE ACCESS TO AND USE OF THE SERVICES OR
                ANY PORTION THEREOF. WE MAY, AT ANY TIME AND FOR ANY REASON,
                DISCONTINUE THE SERVICES IN ITS ENTIRETY, OR ANY PART HEREOF, WITHOUT
                PRIOR NOTICE AND/OR LIABILITY OF ANY KIND. Subject to your agreement and
                compliance with these Terms, you are hereby granted with a personal, revocable,
                non-transferable and non-exclusive right to use the Services. Use of the Services shall be
                solely for your own, private purposes and for no other purpose whatsoever. You hereby
                acknowledge that your right to use the Services is limited by these Terms, and, if you violate
                or if, at any point, you do not agree to any of these Terms, your right to use the Services
                shall immediately terminate, and you shall immediately refrain from using the Services.
                Without derogating from the generality of the foregoing, any use of the Services that
                violates these Terms is strictly prohibited and can, at ZipCoin's sole discretion, result in the
                immediate revocation of your limited rights granted by these Terms. Without limiting any
                other remedy, ZipCoin may limit, suspend, revoke, terminate, modify, or delete your
                Account or access to the Services at its sole discretion without prior notice or liability, if you
                are, or if ZipCoin suspects (in its sole discretion) that you are failing to comply with these
                Terms or for any actual or suspected Restricted Use of the Site and Services. Any of such
                actions, including the termination of your rights to use the Site and Services, may be applied
                by ZipCoin permanently or temporarily. In such an event, ZipCoin may terminate your
                Account and access to the Site and Services (however without affecting your Wallet, which
                remains exclusively yours, subject to any applicable terms of use or law). Upon termination
                of your Account, your Account log in credentials may not be reserved and it may not be
                possible to re-instate them. You hereby acknowledge and agree that ZipCoin is under no
                obligation to compensate you for any losses of any kind whatsoever resulting from the
                cease of Services as set forth hereinabove, whether such closure was voluntary or
                involuntary, and you hereby irrevocably waive any demand or claim regarding the above.
            </p>
            <h4>6. PRIVACY POLICY</h4>
            <p>
                When using the Services, you may be required to provide us with certain personal
                information that may include your full name, e-mail address, Wallet address etc. This
                information will be stored and used in accordance with our Privacy Policy, and we will not
                release such personal information to any third party without the User’s consent, except as
                not prohibited by law or as set forth in our Privacy Policy, as amended from time to time. In
                addition, we may use aggregate statistical information about Users’ activity on the Site for
                marketing or any other purpose.
            </p>
            <h4>7. Ownership, Copyrights</h4>
            <ol class="abc">
                <li>
                    The Services and all of the content that appears in the Site, including without limitation,
                    the use of the Site’s name, software, web technologies, source code, concepts, artwork,
                    photos, animations, sounds, methods of operation, moral rights, documentation, and virtual
                    items, is the exclusive property of ZipCoin, or is being used with permission from its
                    licensors. ZipCoin (or its licensors as applicable) retain all rights, title and interest in and to
                    the Services and all of the content that appears in the Site, and all intellectual property
                    rights relating thereto, including without limitations all copyright, patent, trademarks, logos,
                    design rights and any other proprietary rights connected with the Services. Notwithstanding
                    any provision to the contrary herein, you agree that you have no right or title in or to the
                    Services and/or to any content that appears in the Site. ZipCoin’s name and logo, and any
                    other trademarks included in the Services and/or appear on the Site, are trademarks of
                    ZipCoin.
                </li>
                <li>
                    All third party product names that may legitimately appear in the Site are trademarks of
                    their respective owners. No transfer or grant of any rights under any names, marks or logos
                    is made or is to be implied by any provision of these Terms or by anything on the Site, and
                    all rights in such names, marks or logos is reserved to ZipCoin or their respective owners,
                    as applicable.
                </li>
                <li>
                    You acknowledge and agree that any materials, including but not limited to questions,
                    comments, feedback, suggestions, ideas, plans, notes, drawings, original or creative
                    materials or other information or commentary you provide on our platform or one of our
                    social media accounts, regarding ZipCoin or the Services (collectively, “Feedback”) that are
                    provided by you, whether by email, posting to the Site or otherwise, are non-confidential
                    and will become the sole property of ZipCoin. ZipCoin will own exclusive rights, including all
                    intellectual property rights, and will be entitled to the unrestricted use and dissemination of
                    such Feedback for any purpose, commercial or otherwise, without acknowledgment or
                    compensation to you
                </li>
            </ol>
            <h4>8. THIRD PARTY CONTENT</h4>
            <p>
                To the extent that the services contain links or any other information to third party websites,
                tokens or services, ZipCoin does not control the availability and content of those websites,
                tokens and services. Any concerns regarding any such third party websites, tokens and/or
                service, or any link thereto, should be directed to such particular website and/or services
                provider. ZipCoin makes no representation or warranty regarding any content, goods,
                tokens and/or services provided by any third party, even if linked to through the site or the
                service. The linked sites and tokens are not under the control of ZipCoin and may collect
                data or solicit personal information from you. ZipCoin is not responsible for their content,
                business practices or privacy policies, or for the collection, use or disclosure of any
                information those sites may collect. You agree that the services may feature advertisements
                from third parties. ZipCoin is not responsible for the actions of third parties who advertise on
                the site. Your interactions with advertisers or entities that issued the tokens are agreements
                between you and them with ZipCoin having no responsibility for such interactions.
            </p>
            <h4>9. RISKS Statement, Representations and Warranties</h4>
            <p>
                ZipCoin provides an execution-only service and does not advise on the merits of any
                particular conversion of Tokens or its tax or legal consequences. As a general matter, Users
                should be aware of the following prior to utilizing our Services.
            </p>
            <ol class="abc">
                <li>
                    Understanding Tokens requires advanced technical knowledge. Tokens are often
                    described in exceedingly technical language that requires a comprehensive understanding
                    of applied cryptography and computer science in order to appreciate inherent risks. Listing
                    of a Token on the Site does not indicate approval or disapproval of the underlying
                    technology regarding any Token, and should not be used as a substitute for your own
                    understanding of the risks specific to each Token. In using the Service, you represent that
                    you have been, are, and will be solely responsible for making your own independent
                    appraisal and investigations into the risks relating to and concerning the Tokens. You
                    represent that you have sufficient knowledge, market sophistication, professional advice
                    and experience to make your own evaluation of the merits and risks of any conversion or
                    any underlying Token.
                </li>
                <li>
                    You accept the risk of converting Tokens. You understand the conversion of Tokens may
                    use untested code and protocols. You accept the risk of conversion failure or fault. You
                    agree not to hold ZipCoin accountable for any related losses. Neither you nor we, can
                    reverse, change or cancel a conversion of Tokens transaction marked as complete or
                    pending. Conversion of Tokens using the Service is managed and confirmed via the EOS
                    blockchain. You understand that your EOS public address will be made publicly visible
                    whenever you use the Service.
                </li>
                <li>
                    You are responsible for complying with applicable law. You agree that ZipCoin is not
                    responsible for determining whether or which laws may apply to your conversions, including
                    with respect to tax or money transferring regulations. You are solely responsible for
                    reporting and paying any taxes arising from your use of the Services.
                </li>
                <li>
                    You are aware of and accept the risk of operational challenges. The Site and the Service
                    may experience sophisticated cyber-attacks, unexpected surges in activity, or other
                    operational or technical difficulties, which may hinder the use of the Service or affect or
                    even cause faults or failures in the conversion of Tokens. You agree not to hold ZipCoin
                    accountable for any related losses.
                </li>
                <li>
                    ZipCoin does not advise on converting risk. If at any point ZipCoin or its representatives
                    do provide converting recommendations, market commentary, or any other information, the
                    act of doing so is incidental to your relationship with us and imposes no obligation of truth or
                    due diligence on behalf of ZipCoin or its representatives.
                </li>
                <li>
                    ZipCoin is a regulated entity and must comply with applicable law. Applicable law,
                    regulation, and executive orders may require ZipCoin to, upon request by government
                    agencies, take certain actions or provide information.
                </li>
                <li>
                    <b>
                        Operation of Token Protocol. We do not own or control the underlying software
                        protocols, which govern the operation of the Tokens (other than the BNT) supported on our
                        platform. You acknowledge and agree
                    </b>
                    <ol class="num">
                        <li>
                            that the underlying protocols may be subject to sudden changes in operating rules
                            (‘forks’), and that such forks may materially affect the value, function, and even the
                            name of the Tokens you store. In the event of a fork, you agree that we may
                            suspend the Service (with or without advance notice to you) and that we may decide
                            whether or not to support (or cease supporting) either branch of the forked protocol
                            entirely. You acknowledge and agree that we assume absolutely no responsibility
                            whatsoever in respect of an unsupported branch of a forked protocol; and
                        </li>
                        <li>
                            that we are not responsible for operation of the underlying protocols and that we make
                            no guarantee of their functionality, security, or availability.
                        </li>
                    </ol>
                </li>
            </ol>
            <h4>10. Copyright, Feedback Materials</h4>
            <p>
                You acknowledge and agree that any materials, including but not limited to questions,
                comments, feedback, suggestions, ideas, plans, notes, drawings, original or creative
                materials or other information or commentary you provide on our platform or one of our
                social media accounts, regarding ZipCoin or the Services (collectively, “Feedback”) that are
                provided by you, whether by email, posting to the Site or otherwise, are non-confidential
                and will become the sole property of ZipCoin. ZipCoin will own exclusive rights, including all
                intellectual property rights, and will be entitled to the unrestricted use and dissemination of
                such Feedback for any purpose, commercial or otherwise, without acknowledgment or
                compensation to you.
            </p>
            <h4>11. OWNERSHIP OF TOKENS</h4>
            <p>
                You hereby warrant and represent that any Tokens used by you in connection with the
                Services are either owned by you or that you are validly authorized to carry out conversions,
                and to take (or refrain from taking) any other actions which you perform while using the
                Services, using such Tokens.
            </p>
            <h4>12. Indemnification</h4>
            <p>
                You agree to indemnify, defend and hold ZipCoin, its affiliates and service providers, and
                each of their respective officers, directors, agents, employees, and representatives,
                harmless from any claim or demand (including attorneys’ fees and costs and any fines, fees
                or penalties imposed by any regulatory authority) arising out of or related to (i) your breach
                of these Terms, (ii) your use or access of the Site and/or Services, or (iii) your violation of
                any law, rule, or regulation, or the rights of any third party.
            </p>
            <h4>13. WARRANTY DISCLAIMER</h4>
            <p>
                THE SERVICES ARE PROVIDED TO YOU ‘AS IS’ AND WITHOUT WARRANTIES OR
                REPRESENTATIONS OF ANY KIND EITHER EXPRESSED OR IMPLIED. TO THE
                FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, EACH OF
                ZIPCOIN AND/OR ZIPCOIN PARTIES DISCLAIMS ALL WARRANTIES, EXPRESSED OR
                IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF ANY KIND IN
                CONNECTION WITH THE TOKENS, THE SERVICE, NON-INFRINGEMENT, AND
                FITNESS FOR ANY PARTICULAR PURPOSE, USEFULNESS, AUTHORITY,
                ACCURACY, COMPLETENESS AND/OR TIMELINESS. EACH OF ZIPCOIN AND/OR
                ZIPCOIN PARTIES MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE
                ACCURACY OR COMPLETENESS OF THE CONTENT OF THE SERVICES, OF THE
                CONTENT OF ANY SITES LINKED TO THE SERVICES, OF ANY THIRD PARTY
                MATERIALS. WITHOUT LIMITING THE FOREGOING, NEITHER ZIPCOIN NOR ITS
                AFFILIATES OR SUBSIDIARIES, OR ANY OF ITS OR THEIR DIRECTORS,
                EMPLOYEES, AGENTS, ATTORNEYS, THIRD-PARTY CONTENT PROVIDERS,
                DISTRIBUTORS, JOINT-VENTURES, LICENSEES OR LICENSORS (COLLECTIVELY,
                “ZIPCOIN PARTIES”) REPRESENT OR WARRANT THAT THE SITE AND THE SERVICE
                WILL BE UNINTERRUPTED, ERROR-FREE, BUG-FREE OR FREE FROM VIRUSES OR
                OTHER HARMFUL COMPONENTS. YOU AGREE THAT USE OF THE SITE AND THE
                SERVICE IS AT YOUR SOLE RISK. ADDITIONALLY, IN NO EVENT SHALL ZIPCOIN
                AND/OR ZIPCOIN PARTIES BE LIABLE FOR ANY UNAUTHORIZED ACCESS TO OR
                USE OF THIRD PARTY MATERIALS, SECURE SERVERS AND/OR ANY AND ALL
                PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN.
                YOU ACKNOWLEDGE AND AGREE THAT, TO THE FULLEST EXTENT PERMITTED BY
                ANY APPLICABLE LAW, THE DISCLAIMERS CONTAINED HEREIN SHALL APPLY TO
                ANY AND ALL DAMAGES OR INJURIES WHATSOEVER CAUSED BY OR RELATED TO
                THE USE OF, OR INABILITY TO USE, THE SERVICES, UNDER ANY CAUSE OR
                ACTION WHATSOEVER OF ANY JURISDICTION, INCLUDING, WITHOUT LIMITATION,
                ACTIONS FOR BREACH OF WARRANTY, BREACH OF CONTRACT OR TORT
                (INCLUDING NEGLIGENCE). UNDER NO CIRCUMSTANCES WHATSOEVER WILL
                ZIPCOIN AND/OR ANY OF ZIPCOIN PARTIES, EVEN IF ADVISED OF THE POSSIBILITY
                OF SUCH DAMAGES, BE RESPONSIBLE OR LIABLE TO YOU OR TO ANY OTHER
                ENTITY FOR ANY COMPENSATORY, INDIRECT, INCIDENTAL, CONSEQUENTIAL
                (INCLUDING FOR LOSS OF PROFITS, LOST BUSINESS OPPORTUNITIES, LOSS OF
                GOODWILL OR DATA DESTRUCTION OR IMPAIRMENT) SPECIAL, EXEMPLARY, OR
                PUNITIVE DAMAGES THAT RESULT FROM OR RELATE IN ANY MANNER
                WHATSOEVER TO YOUR USE OF OR INABILITY TO USE THE SERVICES. IF YOU ARE
                DISSATISFIED WITH THE SERVICES, OR WITH THESE TERMS, OR YOU HAVE ANY
                DISPUTE WITH ZIPCOIN AND/OR ANY OF ZIPCOIN PARTIES, YOUR SOLE AND
                EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE SERVICES. YOU FURTHER
                SPECIFICALLY ACKNOWLEDGE THAT NEITHER ZIPCOIN NOR ANY ZIPCOIN
                PARTIES ARE LIABLE, AND YOU AGREE NOT TO SEEK TO HOLD ZIPCOIN AND/OR
                ZIPCOIN PARTIES LIABLE, FOR THE CONDUCT OF THIRD PARTIES, INCLUDING
                OTHER USERS OF THE SERVICES, ISSUERS OF TOKEN AND OPERATORS OF
                EXTERNAL SITES, AND THAT THE RISK REGARDING THE FOREGOING RESTS
                ENTIRELY WITH YOU. Additionally, we shall not be deemed to be in breach of these
                Terms, nor shall we incur any liability or bear any responsibility due to a delay or failure in
                performance caused by Force Majeure. "Force Majeure" referrers to circumstances beyond
                our reasonable control, including but not limited to acts of God, fire, flood, war, terrorism,
                embargo, accident, labor disputes, or shortage of material, equipment or transport, any law,
                regulation, or any ruling of court, tribunal or governmental agency.
            </p>
            <h4>14. LIMITATION OF LIABILITY</h4>
            <p>
                WITHOUT DEROGATING FROM THE FOREGOING, IN NO EVENT OUR THE
                AGGREGATE LIABILITY OF ZIPCOIN AND/OR ANY OF ZIPCOIN PARTIES, ARISING
                OUT OF THESE TERMS, THE SERVICES AND THE SITE WILL NOT EXCEED THE
                GREATER OF ONE HUNDRED US DOLLARS ($100) OR THE AMOUNT YOU HAVE
                PAID US IN THE PAST TWELVE MONTHS FOR THE USE OF THE SERVICES.
                BECAUSE SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION
                OF LIABILITY FOR CERTAIN TYPES OF DAMAGES, SOME OF THE ABOVE
                LIMITATIONS MAY NOT APPLY TO YOU. IN SUCH JURISDICTIONS, ZIPCOIN'S
                LIABILITY IS LIMITED AND WARRANTIES ARE EXCLUDED TO THE GREATEST
                EXTENT PERMITTED BY LAW. ADDITIONALLY, YOU ACKNOWLEDGE THAT NEITHER
                ZIPCOIN NOR ANY ZIPCOIN PARTIES DOES NOT ACTS OR SERVES AS YOUR
                BROKER, INTERMEDIARY, AGENT, OR ADVISOR WITH RESPECT TO ANY ACTION
                (INCLUDING REFRAINING FROM ANY ACTION), INCLUDING WITHOUT LIMITATION,
                ANY CONVERSION, YOU MAKE OR PROPOSE TO MAKE USING THE SERVICES AND
                OWES YOU NO FIDUCIARY DUTY.
            </p>
            <h4>15. Dispute Resolution and Governing Law</h4>
            <p>
                These Terms are governed by and construed in accordance with the laws of the state of
                Wyoming, USA. You hereby consent that any claim, cause of action or dispute arising out of
                or relating to these Terms, the Services or the Site shall be submitted to the exclusive
                jurisdiction of Laramie, Wyoming, USA​ and you agree to submit to the personal jurisdiction
                of such courts for the purpose of litigating all such claims.
            </p>
            <h4>16. Miscellaneous</h4>
            <ol class="abc">
                <li>
                    The controlling language for these terms of use is English; the meaning of terms,
                    conditions and representations herein are subject to definitions and interpretations in the
                    English language. Any translation is provided for your convenience and may not be deemed
                    to represent accurately the information in the original English.
                </li>
                <li>
                    If any provision of these Terms is determined to be invalid or unenforceable, the provision
                    shall be deemed to be severable from the remainder of these Terms and will not cause their
                    invalidity or unenforceability.
                </li>
                <li>
                    These terms of use may be amended from time to time. It is your responsibility to check
                    these terms of use periodically for changes. Your continued use of the Services following
                    the posting of changes will mean that you accept and agree to the changes. If you do not
                    agree with any such modification, you should not use the Service.
                </li>
                <li>
                    YOU AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO
                    THE SERVICES MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF
                    ACTION ACCRUES. OTHERWISE, SUCH CAUSE OF ACTION IS PERMANENTLY
                    BARRED.
                </li>
            </ol>
        </div>
        <!-- End of .modal-body -->
    </div>
    <!-- End of .modal-content -->
</div>
<!-- End of .modal-dialogue -->
</div>